body {
  position: absolute;
  width: 100%;
  height: 2055px;
  left: 0px;
  top: 0px;
  background: #f9f9f9;
}

.top {
  position: absolute;
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;
}

.profile {
  position: absolute;
  width: 215px;
  height: 48px;
  /* left: 1183px; */
  top: 16px;
  right: 2%;
}

.profile > .userName {
  /* position: absolute; */
  height: 48px;
  left: 0%;
  right: 60.47%;
  top: calc(50% - 48px / 2);
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 48px;
  /* identical to box height, or 200% */

  letter-spacing: -0.15px;

  color: #616161;
  display: flex;
}

.pointsAvailable {
  position: absolute;
  left: 50.09%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.pointsAvailable p {
  position: absolute;
  height: 48px;
  left: 4.62%;
  right: 40.78%;
  top: calc(50% - 48px / 2);

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 48px;
  /* identical to box height, or 200% */
  letter-spacing: -0.15px;
  color: #616161;
}

.pointsAvailable .money {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 76px;
  top: 12px;
}

.profile > .pointsAvailable .Rectangle {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #ededed;
  border-radius: 20.5px;
}

.logo {
  position: absolute;
  width: 38.77px;
  height: 36px;
  left: 42px;
  top: 22px;
  /* background: linear-gradient(180deg, #ff8800 0%, #ff6600 100%); */
}

.header {
  position: absolute;
  width: 100%;
  height: 412px;
  left: 0px;
  top: 80px;
}

.box {
  position: absolute;
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #ffffff;
}

.cover {
  position: absolute;
  width: 100%;
  height: 412px;
  left: 0px;
  top: 0px;
}

.headerImage {
  position: absolute;
  width: 100%;
  height: 412px;
  left: 0px;
  top: 0px;
}

.headerText {
  position: absolute;
  height: 80px;
  left: 9.17%;
  right: 69.03%;
  top: calc(50% - 80px / 2 + 118px);

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;

  color: #ffffff;
}

.addPointsMenu {
  position: absolute;
  width: 100%;
  height: 74px;
  left: 0px;
  top: 556px;
}

.addPointsMenu .buttonPoint {
  position: absolute;
  left: 27.21%;
  right: 58.93%;
  top: 0%;
  bottom: 33.78%;
}

.addPointsMenu .buttonPoint .roundedBackForm {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 2.04%;
  bottom: 0%;

  background: #ededed;
  border-radius: 20.5px;
}

.buttonPoint > .roundedBackForm > p {
  position: absolute;
  height: 48px;
  left: 13.48%;
  right: 13.48%;
  top: calc(50% - 48px / 2 - 0.5px);

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 48px;
  /* identical to box height, or 200% */

  letter-spacing: -0.15px;

  color: #a3a3a3;
}

.addPointsMenu .buttonPoint2 {
  position: absolute;
  left: 43.11%;
  right: 42.26%;
  top: 0%;
  bottom: 33.78%;
}

.addPointsMenu .buttonPoint2 .roundedBackForm2 {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 2.04%;
  bottom: 0%;

  background: #ededed;
  border-radius: 20.5px;
}

.addPointsMenu .buttonPoint3 {
  position: absolute;
  left: 59.78%;
  right: 25.09%;
  top: 0%;
  bottom: 33.78%;
}

.addPointsMenu .buttonPoint3 .roundedBackForm3 {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 2.04%;
  bottom: 0%;

  background: #ededed;
  border-radius: 20.5px;
}

.addPointsMenu .selection {
  position: absolute;
  height: 48px;
  left: 13.48%;
  right: 13.48%;
  top: calc(50% - 48px / 2 - 0.5px);

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 48px;
  /* identical to box height, or 200% */

  letter-spacing: -0.15px;

  color: #a3a3a3;
}

.addPointsMenu .selection label {
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-left: 25%;
}

.addPointsMenu hr {
  position: absolute;
  left: 3%;
  right: 0%;
  top: 98.65%;
  bottom: 0%;
  width: 90%;
  background: #d9d9d9;
  margin-top: 0;
}

.addPointsMenu div.v1 {
  position: absolute;
  left: 24.5%;
  right: 75.42%;
  top: 0%;
  bottom: 33.78%;
  background: #d9d9d9;
}

.addPointsMenu .textData {
  position: absolute;
  height: 48px;
  left: 7%;
  /* right: 85.54%; */
  top: calc(50% - 48px / 2 - 12px);

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 48px;
  /* identical to box height, or 200% */

  letter-spacing: -0.15px;

  color: #616161;
}

.addPointsMenu button {
  position: absolute;
  left: 78.78%;
  /* right: 8.09%; */
  top: 0%;
  bottom: 33.78%;
  border-radius: 1.5rem;
  border: 2px solid steelblue;
  width: 18%;
  background-color: #6ee8ff;
}

.addPointsMenu button:hover {
  background-color: #ededed; /* Green */
  color: black;
  border: 2px solid #a3b3c9;
}

.products {
  width: 100%;
  height: 1188px;
  background-color: #f9f9f9;
}

.line {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.productCard {
  position: relative;
  width: 276px;
  height: 276px;
  /* left: 1032px; */
  top: 672px;
  margin: 24px 0 24px 0;
  cursor: pointer;
  cursor: hand;
}

.productCard:hover {
  width: 276px;
  height: 276px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.1));
}

.productCard .internal_card {
  width: 276px;
  height: 276px;
  left: 1032px;
  top: 672px;
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productCard .buyBlueIcon {
  width: 42px;
  height: 42px;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  flex-shrink: 1;
  margin: 12px 12px 0 0;
}

.productCard .photo {
  width: 252px;
  height: 182px;
  left: 1044px;
  top: 684px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productCard .photo > img {
  /* position: absolute; */
  width: 90%;
  height: 90%;
  left: 1100px;
  top: 718px;
}
.productCard .info {
  /* position: absolute; */
  width: 228px;
  height: 64px;
  left: 1056px;
  top: 866px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.productCard .info .productCategory {
  height: 20px;
  left: 0%;
  right: 74.12%;
  top: calc(50% - 20px / 2 - 2px);

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.0376471px;
  color: #a3a3a3;
  margin-bottom: 0;
}

.productCard .info .productName {
  height: 23px;
  left: 0%;
  right: 59.65%;
  top: calc(50% - 23px / 2 + 20.5px);

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */

  letter-spacing: -0.0423529px;

  color: #616161;
  margin-bottom: 0;
}

.productCard .overlayCard {
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(10, 212, 250, 0.86) 0%,
    rgba(37, 187, 241, 0.86) 100%
  );
}

.productCard .overlay_card_inner {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100%;
}

.productCard .overlay_card_inner .center-money-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 50%;
}

.productCard .overlay_card_inner .buyWhiteIcon {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  flex-shrink: 1;
  margin: 12px 4px 0 0;
}
.productCard .overlayCard .cardMoney {
  width: 134px;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.productCard .overlayCard .cardMoney p {
  height: 45px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  letter-spacing: -0.0847059px;
  color: #ffffff;
  margin-bottom: 0;
}

.productCard .overlayCard .cardMoney img {
  width: 26px;
  height: 26px;
}

.productCard .overlayCard .buttonReddem {
  width: 228px;
  height: 42px;
  background: #dadada;
  border-radius: 2rem;
  border: 2px solid steelblue;
}

.productCard .you-need {
  position: absolute;
  visibility: hidden;
  width: 170px;
  height: 42px;
  top: 12px;
  right: 12px;
}

.productCard .you-need .gray-chip {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #616161;
  mix-blend-mode: normal;
  opacity: 0.8;
  border-radius: 100px;
}

.productCard .you-need p {
  position: absolute;
  height: 18px;
  left: 7.56%;
  right: 24.87%;
  top: calc(50% - 18px / 2 - 1px);

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  text-align: right;
  letter-spacing: -0.0329412px;

  color: #ffffff;
}

.productCard .you-need .you-need-money {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 140px;
  top: 11px;
}

/* Estas son las opciones del popup*/

.overlay {
  overflow: scroll;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  /* transition: opacity 500ms; */
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.overlay .inner-popup-container {
  height: 50vw;
  width: 100vh;
  /* background: linear-gradient(45deg, #0e545f, transparent); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay .own-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--cardColor);
  width: 70%;
  height: 50%;
  border-radius: 2rem;
  /* background: linear-gradient(45deg, #0e545f, transparent); */
}

.overlay .own-popup .close-image {
  position: relative;
  left: 11rem;
  top: 0.5rem;
  cursor: pointer;
  cursor: hand;
}
.overlay .own-popup .response-image {
  vertical-align: middle;
  border-style: none;
  height: 180px;
  width: auto;
}

.overlay .own-popup p {
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  margin: 2rem;
}

@media screen and (max-width: 700px) {
  .own-popup {
    width: 100% !important;
    height: auto !important;
  }

  #popup1 {
    padding-left: 0 !important;
  }

  .close-image {
    left: 9rem !important;
  }
}
